
{
  "nyc": {
    "all": true,
    "cache": false,
    "check-coverage": false,
    "include": [
      "src/**.js"
    ],
    "exclude": [
      "node_modules/**",
      "tests/**.test.js"
    ],
    "reporter": [
        "html",
        "text"
    ],
    "instrument": true
  }
}